<!-- your html code here -->
<div class="row justify-content-center px-5">
    <div class="col">
        <h1 class="display-3">The First Heading Will Catch Your Eye</h1>
        <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat et laboriosam rem dolorum voluptatibus consequatur perspiciatis aperiam, culpa quos enim?</p>
    </div>
    <div class="col">
        <img class="img" style="width: 300px; height: 300px; object-fit: cover; border-radius: 100%;" src="https://i.pinimg.com/originals/59/88/07/598807e5f6bb7164e15b0071efd28443.jpg" alt="Walter White Breaking Bad Art">
    </div>
</div>